<p id="notice"><%= notice %></p>

<div id="itemsContainer">
  <h1>Products</h1>
  
      <% @products.each do |product| %>
    
             <div class="producthols">
        <h1><%= product.title %></h1>
     <%= link_to (product_tag product.image_url, :class => "productholsIm"), item %>
        <%= product.image_url %>
       
       <p><%= product.description %></p>
       <p>Price <%= number_to_currency(product.price, :unit =>"€") %>
       <br>
       Type: <%= product.type %>
       </p>
       
       
       <P>
        
        <% if user_signed_in? %>
        <%= link_to 'Show', product, :class =>"button", :role=>"button" %>
        <% end %>
        
        <a href="/cart/<%= product.id %>" class="button">Add To Cart</a>
        
         <% if session[:login] == 1 %>
        
        <%= link_to 'Edit', edit_product_path(product), :class =>"button", :role=>"button"  %>
        <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"button", :role=>"button"  %>
     
        <% end %>
     
     
     
     
     
     </P>
             </div>
    <% end %>
    
 </div>
<br>
<%= link_to 'New Item', new_item_path %>
